* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBackground: darkblue;
  --colorBackground2: lightblue;
  --colorFontPrimary: #ccc;
  --colorFontSecondary: #fff;
  --colorBackground3: #ccc;
  --colorBackgroundLine: #444;
  --colorFontDisabled: #777;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--colorBackground3);  */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
